<footer class="footer">
  <p>This page was built using the Antora default UI modified for the purposes of this site.</p>
  <p>The source code for this UI is licensed under the terms of the MPL-2.0 license.</p>
</footer>
