<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" aria-controls="topbar-nav" aria-expanded="false" aria-label="Toggle main menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
<!-- tag::uuid-url-using[] -->
<a class="navbar-item" href="{{site.url}}{{page.attributes.uuid-url}}">UUID URL</a>
<!-- end::uuid-url-using[] -->
{{#with (resolvePage page.relativeSrcPath model=false)}}
{{#with ./rel}}
<a class="navbar-item" href="{{{relativize pub.url}}}">permalink</a>
{{/with}}
{{/with}}
{{#with (lookup (resolvePage page.relativeSrcPath model=false) 'rel')}}
<a class="navbar-item" href="{{{relativize pub.url}}}">permalink (simplified)</a>
{{/with}}
      </div>
    </div>
  </nav>
</header>